.formCtrl{
  position: relative;
  margin-top: 10px;
}
.btnSearch{
  position: absolute;
  top: 0px;
  height: 48px;
  width: 50px;
  border-radius: 0;
  right: 5px;
  background: transparent;
  outline: none;
}
.quickSuggestion{
  position: absolute;
  height: 250px;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius-lg);
  top: 48px;
  overflow: auto;
}
.quickSuggestion .item{
  text-align: left; 
  padding: 5px;
  cursor: pointer;  
}
.quickSuggestion .item:nth-child(even) {background: #94C5F8;}
.quickSuggestion .item:nth-child(odd) {background: #9FE9D4;}
.quickSuggestion .item .link{
  text-decoration: none;
  color: black;
  width: 100%;
}